<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <script th:href="@{/js/main.js}"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
        integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2"
        crossorigin="anonymous"></script>
    <!-- icons -->
    <script src="https://kit.fontawesome.com/6e61b7d6d1.js" crossorigin="anonymous"></script>

</head>

<body>
    <th:block th:replace="components/navbar :: navbar"></th:block>
    <div class="margin-container">
        <div class="container">
            <div th:object="${publicacion}">
                <div style="display: flex; justify-content: right;"
                    sec:authorize="hasAnyRole('ADMIN', 'TEACHER', 'STUDENT')">
                    <div class="row">
                        <div th:if="${publicacion.profesor != null}">
                            <div
                                th:if="${publicacion.profesor.usuario} == ${#authentication.getPrincipal().getUsername()} and ${publicacion.estado} != 'Public'">
                                <form th:action="@{'/post/aceptar/' + ${publicacion.id_publicacion}}" method="GET">
                                    <input th:name="categoria" type="hidden"
                                        th:value="${publicacion.categoriaPublicacion.id_categoria}">
                                    <input type="submit" class="btn btn-success" value="Aceptar publicación">
                                </form>
                            </div>
                        </div>
                        <div th:if="${publicacion.profesor != null}">
                            <div
                                th:if="${publicacion.profesor.usuario} == ${#authentication.getPrincipal().getUsername()} and ${publicacion.estado} != 'Reviewed'">
                                <form th:action="@{'/post/en-espera/' + ${publicacion.id_publicacion}}" method="GET">
                                    <input th:name="categoria" type="hidden"
                                        th:value="${publicacion.categoriaPublicacion.id_categoria}">
                                    <input type="submit" class="btn btn-warning" value="Aún no aceptar">
                                </form>
                            </div>
                        </div>
                        <div th:if="${publicacion.usuario.usuario} == ${#authentication.getPrincipal().getUsername()}">
                            <form th:action="@{'/post/editar/' + ${publicacion.id_publicacion}}" method="GET">
                                <input th:name="categoria" type="hidden"
                                    th:value="${publicacion.categoriaPublicacion.id_categoria}">
                                <input type="submit" class="btn btn-primary" value="Editar publicaci&oacute;n">
                            </form>
                        </div>
                        <div
                            th:if="${publicacion.usuario.usuario} == ${#authentication.getPrincipal().getUsername()} or ${#authorization.expression('hasRole(''ADMIN'')')} or ${#authorization.expression('hasRole(''TEACHER'')')}">
                            <form th:action="@{'/post/eliminar/publicacion/'+ ${publicacion.id_publicacion}}"
                                method="post">
                                <input th:name="id_publicacion" type="hidden" th:value=${publicacion.id_publicacion}>
                                <input type="submit" class="btn btn-danger" value="Eliminar publicacion">
                            </form>
                        </div>
                    </div>
                </div>
                <article>
                    <h5 class="card-title" th:text="${publicacion.titulo}"></h5>
                    <h6 class="card-subtitle mb-2 text-muted" th:text="${publicacion.usuario.usuario}"></h6>
                    <p class="card-text limit-content" th:utext="${publicacion.contenido}"></p>
                    <p class="card-subtitle mb-2 text-muted" th:text="${publicacion.fecha_publicacion}"></p>
                </article>
                <div th:object="${comentario}">
                    <th:block th:replace="components/comentarios :: editor-comentarios"></th:block>

                </div>
                <div th:each="comentarios : ${listaComentarios}">
                    <th:block th:replace="components/comentarios :: comentarios"></th:block>
                </div>
            </div>
        </div>
    </div>
    <th:block th:replace="components/footer :: footer"></th:block>
</body>

</html>