html {
    overflow-y: scroll;
}

.bg-brown {
    background-color: #68533E;
}

.text-color {
    color: #ffc107;
}

.navbar-options>ul>li {
    text-transform: uppercase;
    color: #F9F4E7;
    font-weight: bold;
}

.border-dotted {
    margin: 1em;
    padding: 1em;
    border-style: dotted;
    border-width: 0.3em;
    border-color: rgb(209, 209, 209);
    border-radius: 1em;
}

.border-dotted:hover>a>i {
    color: #ffc107;
}

.border-dotted:hover>a {
    text-decoration: none;
    color: #212429;
}

.border-dotted>a {
    color: #212429;
}

a {
    content: none;
}

.crear-post {
    margin: 1em;
}

/*---------------------------------------------*/
.footerown {
    background-color: #68533E;
    color: #E9E9E9;
    padding: 4em;
}

.navown {
    text-decoration: none;
    font-weight: 400;
    display: block;
    transform: none;
    color: #E9E9E9;
}

.navown:hover {
    color: #B09E80;
    text-decoration: underline;
}

.rob {
    padding: 2em;
    border: 2em;
}

.grid-container {
    justify-content: center;
    /* display: grid;
    grid-template-columns: repeat(3, 23em); */
    display: flex;
    flex-flow: row wrap;
}

.grid-container>div {
    margin: 0.5em;
}

.cards-resultados {
    margin: 1em 0em;
}

.margin-container {
    margin: 3em 0em;
}

.color-tag-a {
    color: #000;
}

@media only screen and (max-width:450px) {
    .tlachcoTitulo {
        display: none;
    }
}