<footer>
    <div class="container-fluid footerown" xmlns:th="http://www.thymeleaf.org">
        <div class="container">
            <div class="row row-pb-md text-start">
                <div class="col-lg-5 col-md-12 col-sm-12 col-12">
                    <h3 class="titulos">ObservaTlachco</h3>
                    <p class="parrafos">Se brinda un lugar donde los alumnos se sientan en confianza y con comodidad,
                        producto de un liderazgo bien dirigido y compartido por las características de
                        las actividades han generado resultados óptimos para este espacio que hoy en día
                        es considerado uno de los mejores a nivel nacional por la Secretaría de Educación
                        Pública de México.
                    </p>
                </div>
                <div class="col-lg-3 col-md-5 col-sm-6 col-8">
                    <div>
                        <a class="navown" href="/">Inicio</a>
                        <a class="navown" href="/noticias">Noticias</a>
                        <a class="navown" href="/articulos">Articulos</a>
                        <a class="navown" href="/videos">Videos</a>
                        <a class="navown" href="/infografias">Infografias</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-5 col-sm-6 col-6 mt-sm-3">
                    <!--<a class="navown" href="https://twitter.com"><i class="fab fa-twitter-square"></i> Siguenos por
                        Twitter</a>-->
                    <a class="navown" href="https://www.facebook.com/Secundaria-Técnica-Tlachco-705181339507520/"><i
                            class="fab fa-facebook-square"></i> Siguenos por
                        Facebook</a>
                    <a class="navown" href="#"><i class="fab fa-youtube"></i> Siguenos por
                        YouTube</a>

                </div>
            </div>
        </div>
    </div>
    <div class="cards-resultados">
        <div class="col-md-12 text-center container">
            <small class="block">&copy; 2022 por Observatorio Tlachco, El Salvador. Todos los derechos
                reservados.</small><br>
            <small class="block">Designed by <a href="#" target="_blank">Alguien</a>
                Imagenes e iconos: <a href="#" target="_blank">Alguien</a> &amp; <a href="#" target="_blank">Font
                    Awesome</a></small>
        </div>
    </div>
</footer>