<header class="navigation-sec" th:fragment="navbar">
	<div class="container"
		style="display: flex; justify-content: space-between; margin-top: 0.5em; margin-bottom: 0.5em;">
		<a th:href="@{/}">
			<img width="100em"
				src="https://firebasestorage.googleapis.com/v0/b/observatlachco.appspot.com/o/Logo%20Tlachco_Mesa%20de%20trabajo%201.png?alt=media&token=573caad1-7fd4-4596-b437-6dae3c038977"
				alt="ThlachcoLogo" srcset="">
			<!-- <img width="50em"
				src="https://firebasestorage.googleapis.com/v0/b/observatlachco.appspot.com/o/LogoTlachcoP.png?alt=media&token=6b0986d4-2e0d-4c41-a1be-459975ef805d"
				alt="ThlachcoLogo" srcset=""> -->
		</a>
		<div style="display: inline-flex; align-items: center;">
			<h1 class="tlachcoTitulo" style="margin-right: 0.5em; font-size: 2em;">ObservaTlachco</h1>
			<img width="70em"
				src="https://firebasestorage.googleapis.com/v0/b/observatlachco.appspot.com/o/Venados%20Cient%C3%ADficos.png?alt=media&token=189b4156-18b0-4a54-806d-881d062a69b2"
				alt="ThlachcoLogo" srcset="">
		</div>
	</div>

	<nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-brown">
		<div class="container">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse navbar-options" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item" th:classappend="${#httpServletRequest.getRequestURI() == '/' ? 'active':''}">
						<a class="nav-link text-color" href="/">Inicio <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item"
						th:classappend="${#httpServletRequest.getRequestURI() == '/noticias' ? 'active':''}">
						<a class="nav-link text-color" href="/noticias">Noticias</a>
					</li>
					<li class="nav-item"
						th:classappend="${#httpServletRequest.getRequestURI() == '/articulos' ? 'active':''}">
						<a class="nav-link text-color" href="/articulos">Articulos</a>
					</li>
					<li class="nav-item"
						th:classappend="${#httpServletRequest.getRequestURI() == '/videos' ? 'active':''}">
						<a class="nav-link text-color" href="/videos">Videos</a>
					</li>
					<li class="nav-item"
						th:classappend="${#httpServletRequest.getRequestURI() == '/infografias' ? 'active':''}">
						<a class="nav-link text-color" href="/infografias">Infografias</a>
					</li>
					<li class="nav-item"
						th:classappend="${#httpServletRequest.getRequestURI() == '/sobre-nosotros' ? 'active':''}">
						<a class="nav-link text-color" href="/sobre-nosotros">Sobre nosotros</a>
					</li>
				</ul>
				<form th:action="@{/busquedaPublicaciones}" method="post" class="form-inline my-2 my-lg-0"
					autocomplete="off">
					<input class="form-control mr-sm-2" type="text" th:name="titulo"
						oninvalid="setCustomValidity('Ingrese Valor de Busqueda')" oninput="this.setCustomValidity('')"
						placeholder="Buscar" aria-label="Search" required>
					<button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Buscar</button>
				</form>
				<ul class="navbar-nav">
					<span sec:authorize="hasAnyRole('TEACHER', 'STUDENT')">
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
								data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i>Bienvenido</i> <b><span class="text-white"
										sec:authentication="name">Username</span></b>
								&nbsp;
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
								<a class="dropdown-item" th:href="@{/perfil/{username}(username=${#authentication.getPrincipal().getUsername()})}">Perfil</a>
								<a class="dropdown-item" style="color: red;" th:href="@{/logout}">Cerrar Sesión</a>
							</div>
						</li>
					</span>
					<span sec:authorize="hasAnyRole('ADMIN')">
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
								data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i>Bienvenido</i> <b><span class="text-white"
										sec:authentication="name">Username</span></b>
								&nbsp;
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
								<a class="dropdown-item"
									th:href="@{/perfil/{username}(username=${#authentication.getPrincipal().getUsername()})}">Perfil</a>
								<a class="dropdown-item" th:href="@{/admin/usuario_registro}">Registrar Usuario</a>
								<a class="dropdown-item" th:href="@{/admin/lista_usuarios}">Lista de Usuarios</a>
								<a class="dropdown-item" style="color: red;" th:href="@{/logout}">Cerrar Sesión</a>
							</div>
						</li>
					</span>
					<span sec:authorize="isAnonymous()">
						<li class="nav-item">
							<a class="nav-link" href="/login">Iniciar Sesión</a>
						</li>
					</span>
				</ul>
			</div>

		</div>
	</nav>
</header>