<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tlachco - Inicio</title>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="//cdn.ckeditor.com/4.18.0/standard/ckeditor.js"></script>
</head>

<body>
    <h1>Crear Post</h1>

    <form action="@{}" method="post"></form>

    <textarea name="editor" id="editor" rows="1000"></textarea>

    <script>
        $(document).ready(function () {
            CKEDITOR.replace('editor', {

            });
        });
    </script>
</body>

</html>