<section th:fragment="editor-comentarios" sec:authorize="hasAnyRole('ADMIN', 'TEACHER', 'STUDENT')">
    <div class="card" style="background-color: #F9F4E7;">
        <div class="card-body">
            <form th:action="@{/post/validar-comentario}" method="get">
                <div class="form-outline mb-4">
                    <input th:name="id_publicacion" type="hidden" th:value="${publicacion.id_publicacion}">
                    <textarea class="form-control" id="textAreaExample6" rows="3" th:field="*{contenido}"
                        placeholder="Escribe un comentario" required
                        oninvalid="setCustomValidity('El campo no debe estar vacio.')"
                        onchange="try{setCustomValidity('')}catch(e){}"></textarea>
                </div>
                <div style="display: flex; justify-content: right;">
                    <input type="submit" class="btn btn-primary" value="Publicar">
                </div>
            </form>
        </div>
    </div>
</section>

<section th:fragment="comentarios">
    <div class="card" style="background-color: #F9F4E7;">
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p th:text="${comentarios.contenido}"></p>

                <footer class="blockquote-footer"
                    th:text="${comentarios.nombre} + ' ' + ${comentarios.apellido} + ' (' + ${comentarios.usuario} + ')'">
                </footer>
            </blockquote>
            <div style="display: flex; justify-content: right;">
                <form th:action="@{'/post/eliminar/comentario/'+ ${comentarios.id_comentario}}" method="post">
                    <input th:name="id_publicacion" type="hidden" th:value="${publicacion.id_publicacion}">
                    <input th:name="id_comentario" type="hidden" th:value=${comentarios.id_comentario}>
                    <input type="submit" class="btn btn-danger" value="Eliminar comentario">
                </form>
            </div>
        </div>
    </div>
</section>