<footer>
    <div class="container-fluid footerown" xmlns:th="http://www.thymeleaf.org">
        <div class="row row-pb-md text-start">
            <div class="col-lg-5 col-md-12 col-sm-12 col-12">
                <h3 class="titulos">Observatorio</h3>
                <p class="parrafos">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus at sit,
                    quidem illum nihil,
                    ipsam incidunt in velit ut adipisci quaerat eum iusto omnis ea sint nemo pariatur possimus iste.
                </p>
            </div>
            <div class="col-lg-3 col-md-5 col-sm-6 col-6">

                <a class="navown" href="about.html">About</a>
                <a class="navown" href="/google.com">Disenadores</a>
                <a class="navown" href="/google.com">Desarolladores</a>
                <a class="navown" href="/google.com">Equipo de trabajo</a>
                <a class="navown" href="/google.com">Politica de privacidad</a>

            </div>
            <div class="col-lg-3 col-md-5 col-sm-6 col-6 mt-sm-3">
                <a class="navown" href="https://twitter.com"><i class="fab fa-twitter-square"></i> Siguenos por Twitter</a>
                <a class="navown" href="https://twitter.com"><i class="fab fa-facebook-square"></i> Siguenos por Facebook</a>
                <a class="navown" href="https://twitter.com"><i class="fab fa-instagram"></i> Siguenos por Instagram</a>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <p class="parrafo">
                <small class="block">&copy; 2022 por Observatorio Tlachco, El Salvador. Todos los derechos
                    reservados.</small><br>
                <small class="block">Designed by <a href="#" target="_blank">Alguien</a>
                    Imagenes e iconos: <a href="#" target="_blank">Alguien</a> &amp; <a href="#"
                        target="_blank">Font Awesome</a></small>
            </p>
        </div>
    </div>
</footer>