<footer>
    <div class="container-fluid footerown" xmlns:th="http://www.thymeleaf.org">
        <div class="container">
            <div class="row row-pb-md text-start">
                <div class="col-lg-5 col-md-12 col-sm-12 col-12">
                    <h3 class="titulos">ObservaTlachco</h3>
                    <p class="parrafos">Se brinda un lugar donde los alumnos se sientan en confianza y con comodidad,
                        producto de un liderazgo bien dirigido y compartido por las características de
                        las actividades han generado resultados óptimos para este espacio que hoy en día
                        es considerado uno de los mejores a nivel nacional por la Secretaría de Educación
                        Pública de México.
                    </p>
                </div>
                <div class="col-lg-3 col-md-5 col-sm-6 col-8">
                    <div>
                        <a class="navown" href="/">Inicio</a>
                        <a class="navown" href="/noticias">Notícias</a>
                        <a class="navown" href="/articulos">Articulos</a>
                        <a class="navown" href="/videos">Vídeos</a>
                        <a class="navown" href="/infografias">Infografias</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-5 col-sm-6 col-6 mt-sm-3">
                    <!--<a class="navown" href="https://twitter.com"><i class="fab fa-twitter-square"></i> Siguenos por
                        Twitter</a>-->
                    <a class="navown" href="https://www.facebook.com/secundariatlachco309"><i
                            class="fab fa-facebook-square"></i> Siguenos por
                        Facebook</a>
                    <a class="navown" href="https://www.youtube.com/channel/UCUqc5nY_ReEw9yfi8E63cpQ"><i class="fab fa-youtube"></i> Siguenos por
                        YouTube</a>
                    <a class="navown" href="https://www.instagram.com/secundaria.tlachco/?fbclid=IwAR3oBNi_1NeQ2cMRZOhnEEIJ68U0R0ikib09B9gJ0utsOMJZPJLv_TqHgpg"><i class="fab fa-instagram"></i> Siguenos por
                            Instagram</a>
                        
                </div>
            </div>
        </div>
    </div>
    <div class="cards-resultados">
        <div class="col-md-12 text-center container">
            <small class="block">&copy; 2022 por Universidad Centroamericana "José Simeón Cañas", El Salvador. ObservaTlachco, Mexíco. 
                Todos los derechos reservados
            </small><br>
            <small class="block">Diseñado por: <a href="https://github.com/00162317" target="_blank">Roberto Hernández</a>, 
                <a href="https://github.com/vegadevh" target="_blank">Diego Vega</a>,
                <a href="https://github.com/FredoSanchez" target="_blank">Fredy Sánchez</a>
                Imagenes e iconos: Escuela Tecnica Secundaria No 309, <a href="https://fontawesome.com" target="_blank">Font
                    Awesome</a></small>
        </div>
    </div>
</footer>